# Go binary
*.exe
*.out
*.test
*.dll
*.so
*.dylib

# Go vendor folder (only if using Go Modules)
vendor/

# Go workspace
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables and credentials
.env
.env.local

# Backup files
*.bak
*.swp

# Test coverage
coverage/

# Temporary files
*.tmp

# docker
.docker/
.dockerignore
docker-compose.override.yml
Dockerfile.*

